.faq{
    background: $sky;
    color: $navy;
    margin: $margin-big 0 0;
    padding: $margin-big 0;
    text-align: center;
}

.faq-title{
  color: white;
}

.faq-subtitle{
  color: white;
  font-size: $font-bigger;
}

.faq-link{
  color: white;

  &:hover{
    color: $navy;
  }
}