.invoice{
  background: white;
  border: 1px solid $grey-border;
  border-radius: $border-radius;
  box-shadow: 0 3px 0 0 rgba(0,0,0,.05);
  display: block;
  margin: $margin-standard 0;
  min-height: 230px;
  position: relative;
}

  .invoice-summary{
    background: $grey-background;
    border-bottom: 1px solid $grey-border;
    padding: $margin-standard;
  }

    .invoice-summary-price{
      float: left;
      margin: 2px 7px 0 0;
    }

    .invoice-summary-download{
      color: $grey;
      text-align: right;
      float: right;
      font-size: $font-small;
      margin-top: 15px;
    }


  .invoice-payment{
    padding: $margin-standard;
  }
