.password-security{
  margin-top: 13px;
  width: 100%;
}

    .password-security-gauge-level{
      background: $grey-disabled;
      border-radius: 2px;
      display: block;
      height: 2px;
      float: left;
      margin-right: 2.5%;
      width: 23%;

      &:last-child{
        margin-right: 0;
      }
    }


  .password-security-label{
    font-size: $font-small;
    margin-top: 0;
  }


/* - - - - - - - - - - - - - - - - - - -

          SECURITY STATES

 - - - - - - - - - - - - - - - - - - - */

.password-security{

  /*
    Security level 4/4
  */

  &.is-very-strong{

    .password-security-gauge-level{
      background-color: $green;
    }

    .password-security-label{
      color: $green;
    }
  }

  /*
    Security level 3/4
  */

  &.is-strong{

    .password-security-gauge-level:nth-child(1),
    .password-security-gauge-level:nth-child(2),
    .password-security-gauge-level:nth-child(3){
      background-color: #b6d646;
    }

    .password-security-label{
      color: #b6d646;
    }
  }

    /*
    Security level 2/4
  */

  &.is-average{

    .password-security-gauge-level:nth-child(1),
    .password-security-gauge-level:nth-child(2){
      background-color: $orange;
    }

    .password-security-label{
      color: $orange;
    }
  }

  /*
    Security level 1/4
  */

  &.is-weak{

    .password-security-gauge-level:nth-child(1){
      background-color: $red;
    }

    .password-security-label{
      color: $red;
    }
  }
}