.payments{
  margin-bottom: $margin-standard;
  position: relative;
}

  .payments-current{
    border: 1px solid $grey-border;
    padding: $margin-small $margin-standard;
    background: url(/src/assets/images/components/payment/carret.png) right 15px center no-repeat;
    display: block;
    color: $grey;
    transition: all $transition-fastest ease;
    &:hover,
    &:active,
    &:focus{
      color: $grey;
      text-decoration: none;
      border-color: $grey-border-over;
    }
  }

  .payments-dropdown{
    border: 1px solid $grey-border;
    border-top: 0;
    opacity: 0;
    position: absolute;
    z-index: 1;
    background: white;
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.15);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: all $transition-faster cubic-bezier(0.565, -0.240, 0.710, 0.390);
  }

    .payments-dropdown-entry{
      display: block;
      border-bottom: 1px solid $grey-border;
      padding: $margin-small $margin-standard;
      color: $grey;
      text-decoration: none;
      transition: all $transition-fastest ease;
      &:hover,
      &:active,
      &:focus{
        color: $grey;
        background: $sky-lightest;
        border-color: $sky-lightest;
        text-decoration: none;
      }
    }

    .payments-dropdown-more{
      display: block;
      font-size: $font-small;
      padding: $margin-small $margin-standard;
      transition: all $transition-fastest ease;
    }


.payments{
  &.is-open{
    .payments-dropdown{
      opacity: 1;
      transform: scale(1);
      transition: all $transition-faster cubic-bezier(0.280, 0.825, 0.535, 1.210);
    }
    .payments-current{
      background-image: url(/src/assets/images/components/payment/carret-open.png);
    }
  }
}

.payments-dropdown-entry{
  &.is-selected{
    display: none;
  }
}