$icomoon-font-family: "icon-lgw" !default;
$icomoon-font-path: "/src/assets/fonts" !default;

$icon-pro: "\e94c";
$icon-delivery: "\e94d";
$icon-chrono: "\e94e";
$icon-googledrive: "\e94a";
$icon-dropbox: "\e94b";
$icon-exclamation: "\e949";
$icon-previewcatalog: "\e948";
$icon-blank: "\e947";
$icon-bag2: "\e945";
$icon-previewrule: "\e946";
$icon-associate: "\e944";
$icon-priority: "\e943";
$icon-replace: "\e942";
$icon-segment: "\e941";
$icon-lengow: "\e940";
$icon-linker: "\e93f";
$icon-file: "\e93e";
$icon-minus: "\e93d";
$icon-drag: "\e93c";
$icon-pause: "\e93b";
$icon-deactivate: "\e93a";
$icon-shrink: "\e939";
$icon-expand: "\e937";
$icon-under: "\e938";
$icon-bag: "\e936";
$icon-cog: "\e935";
$icon-clock: "\e931";
$icon-import: "\e932";
$icon-match-path1: "\e933";
$icon-match-path2: "\e934";
$icon-hand: "\e930";
$icon-tagfilled: "\e92f";
$icon-origin: "\e92e";
$icon-pen: "\e92d";
$icon-app: "\e929";
$icon-ftp: "\e92a";
$icon-link: "\e92b";
$icon-manual: "\e92c";
$icon-add: "\e928";
$icon-active: "\e926";
$icon-error: "\e927";
$icon-hidden: "\e925";
$icon-forward: "\e924";
$icon-copy: "\e923";
$icon-shop: "\e921";
$icon-tag: "\e922";
$icon-edit: "\e91f";
$icon-play: "\e920";
$icon-back: "\e91e";
$icon-color: "\e91c";
$icon-template: "\e91d";
$icon-carret: "\e91b";
$icon-delete: "\e91a";
$icon-logs: "\e919";
$icon-keyboard: "\e918";
$icon-date: "\e917";
$icon-search: "\e916";
$icon-switch: "\e915";
$icon-package: "\e914";
$icon-return: "\e913";
$icon-refund: "\e912";
$icon-download: "\e90f";
$icon-previous: "\e910";
$icon-next: "\e911";
$icon-carrier: "\e90e";
$icon-basket: "\e90d";
$icon-action: "\e90c";
$icon-update: "\e90b";
$icon-mobile: "\e908";
$icon-phone: "\e909";
$icon-email: "\e90a";
$icon-checked: "\e907";
$icon-bell: "\e906";
$icon-catalog: "\e905";
$icon-close: "\e900";
$icon-info: "\e901";
$icon-warning: "\e904";
$icon-help: "\e903";
$icon-attachment: "\e902";




