/* - - - - - - - - - - - - - - - - - - -

               TEXT COLOR

 - - - - - - - - - - - - - - - - - - - */

.u-text-light{
  color: $grey-light;
}

.u-text-grey{
  color: $grey;
}

.u-text-dark{
  color: $dark;
}

.u-text-darkest{
  color: $darkest;
}

.u-text-dark-light{
  color: $dark-light;
}

.u-text-dark-lightest{
  color: $dark-lightest;
}

.u-text-dark-ultralight{
  color: $dark-ultralight;
}

.u-text-red{
  color: $red;
}

.u-text-red-darkest{
  color: $red-darkest;
}

.u-text-orange{
   color: $orange-darker;
}

.u-text-green{
   color: $green;
}

.u-text-greenish{
  color: $greenish;
}

.u-text-green-darkest{
  color: $green-darkest;
}

.u-text-blue{
   color: $blue;
}

.u-text-midnight{
  color: $midnight;
}

.u-text-white{
  color: white;
}

.u-text-navy{
  color: $navy;
}

.u-text-sea{
  color: $sea;
}

.u-text-red-fade{
  color: $red-darker-fade;
}

.u-text-bluish{
  color: $bluish;
}

/* - - - - - - - - - - - - - - - - - - -

           TEXT SIZE / STYLE

 - - - - - - - - - - - - - - - - - - - */

.u-text-lead{
  font-size: $font-big;
  font-weight: 400;
  line-height: 1.6;
}

.u-text-leader{
  line-height: 1.6;
  font-size: $font-bigger;
  font-weight: 400;
}

.u-text-leadest{
  line-height: 1.6;
  font-size: $font-biggest;
}

.u-text-kraken{
  line-height: 1.6;
  font-size:  $font-kraken;
}

.u-text-standard{
  font-size: $font-standard;
}

.u-text-small{
  font-size: $font-small;
  line-height: 1.5;
}

.u-text-smaller{
  font-size: $font-smaller;
  line-height: 1.5;
}

.u-text-lesser{
  color: $grey-light;
  font-size: $font-small;
}

.u-text-italic{
  font-style: italic;
}

.u-text-upper{
  text-transform: uppercase;
}

.u-text-line-through{
  text-decoration: line-through;
}

.u-text-nolist{
  list-style: none;
  padding-left: 0;
}

.u-text-thin{
  font-weight: 300;
}

.u-text-bold{
  font-weight: 700;
}

.u-text-normal{
  font-weight: 400;
}

.u-text-capitalize{
  text-transform: capitalize;
}

.u-text-uppercase{
  text-transform: uppercase;
}

.u-text-lowercase{
  text-transform: lowercase;
}

.u-text-underline {
  text-decoration: underline;
}

.u-text-highlight {
  background-color: $sky-lightest;
  color: $navy;
}

.u-text-keyboard {
  border: 1px solid $grey-light;
  border-radius: $border-radius;
  padding: 2px 5px;

  &.mod-lighter{
    background-color: white;
    border: 1px solid $grey-placeholder;
  }
}



/* - - - - - - - - - - - - - - - - - - -

                CLEAR

 - - - - - - - - - - - - - - - - - - - */

.u-clear{

  &:before,
  &:after{
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}


/* - - - - - - - - - - - - - - - - - - -

                NO WRAP

 - - - - - - - - - - - - - - - - - - - */

.u-nowrap{
  white-space: nowrap;
}

.u-break-normal{
  word-break: normal!important;
}

.u-break-all{
  word-break: break-all!important;
}


/* - - - - - - - - - - - - - - - - - - -

               TEXT ALIGN

 - - - - - - - - - - - - - - - - - - - */

.u-text-left{
  text-align: left;
}

.u-text-center{
  text-align: center !important;
}

.u-text-right{
  text-align: right !important;
}


/* - - - - - - - - - - - - - - - - - - -

                  FLOAT

 - - - - - - - - - - - - - - - - - - - */

.u-pull-left{
  float: left !important;
}

.u-pull-right{
  float: right !important;
}


/* - - - - - - - - - - - - - - - - - - -

                  MARGIN

 - - - - - - - - - - - - - - - - - - - */

/*
  BOTTOM
*/

.u-nomargin{
  margin: 0 !important;
}

.u-nomargin-bottom{
  margin-bottom: 0 !important;
}

.u-margin-tiny{
  margin-bottom: $margin-tiny !important;
}

.u-margin-small{
  margin-bottom: $margin-small !important;
}

.u-margin-standard{
  margin-bottom: $margin-standard !important;
}

.u-margin-big{
  margin-bottom: $margin-big !important;
}

.u-margin-bigger{
  margin-bottom: $margin-bigger !important;
}

.u-margin-biggest{
  margin-bottom: $margin-bigger * 2 !important;
}

/*
  TOP
*/

.u-nomargin-top{
  margin-top: 0 !important;
}

.u-margin-top-tiny{
  margin-top: $margin-tiny !important;
}

.u-margin-top-small{
  margin-top: $margin-small !important;
}

.u-margin-top-standard{
  margin-top: $margin-standard !important;
}

.u-margin-top-big{
  margin-top: $margin-big !important;
}

.u-margin-top-bigger{
  margin-top: $margin-bigger !important;
}

.u-margin-top-biggest{
  margin-top: $margin-bigger * 2 !important;
}

/*
  LEFT
*/

.u-nomargin-left{
  margin-left: 0 !important;
}

.u-margin-left-tiny{
  margin-left: $margin-tiny !important;
}

.u-margin-left-small{
  margin-left: $margin-small !important;
}

.u-margin-left-standard{
  margin-left: $margin-standard !important;
}

.u-margin-left-big{
  margin-left: $margin-big !important;
}

.u-margin-left-bigger{
  margin-left: $margin-bigger !important;
}

/*
  RIGHT
*/

.u-nomargin-right{
  margin-right: 0 !important;
}

.u-margin-right-tiny{
  margin-right: $margin-tiny !important;
}

.u-margin-right-small{
  margin-right: $margin-small !important;
}

.u-margin-right-standard{
  margin-right: $margin-standard !important;
}

.u-margin-right-big{
  margin-right: $margin-big !important;
}

.u-margin-right-bigger{
  margin-right: $margin-bigger !important;
}


/* - - - - - - - - - - - - - - - - - - -

               PADDING

 - - - - - - - - - - - - - - - - - - - */

.u-nopadding{
  padding: 0 !important;
}

.u-nopadding-bottom{
  padding-bottom: 0 !important;
}

.u-nopadding-top{
  padding-top: 0 !important;
}

.u-nopadding-left{
  padding-left: 0 !important;
}

.u-nopadding-right{
  padding-right: 0 !important;
}

/* - - - - - - - - - - - - - - - - - - -

               BLUR

 - - - - - - - - - - - - - - - - - - - */

.u-blur{
  filter: blur(3px);
}

/* - - - - - - - - - - - - - - - - - - -

              OPACITY

 - - - - - - - - - - - - - - - - - - - */

.u-opaque{
  opacity: 1 !important;
}

/* - - - - - - - - - - - - - - - - - - -

            DISABLED LINK

 - - - - - - - - - - - - - - - - - - - */

.u-disabled-link{
  color: $grey-light;
  pointer-events: none;
}

/* - - - - - - - - - - - - - - - - - - -

            WIDTH 100%

 - - - - - - - - - - - - - - - - - - - */

.u-width-full{
  width: 100%;
}

/* - - - - - - - - - - - - - - - - - - -

            HEIGHT 100%

 - - - - - - - - - - - - - - - - - - - */

.u-height-full{
  height: 100%;
}


/* - - - - - - - - - - - - - - - - - - -

            WORD BREAK

 - - - - - - - - - - - - - - - - - - - */

.u-break-word{
  word-wrap: break-word;
  word-break: break-word;
}


/* - - - - - - - - - - - - - - - - - - -

      VERTICAL / HORIZONTAL ALIGN

 - - - - - - - - - - - - - - - - - - - */

.u-vertical-align {
  display: table;
  height: 100%;
  table-layout: fixed;
  width: 100%;
}

.u-vertical-align-top {
  display: table-cell;
  float: none;
  height: 100%;
  vertical-align: top;
}

.u-vertical-align-middle {
  display: table-cell!important;
  float: none;
  height: 100%;
  vertical-align: middle;
}

.u-vertical-align-bottom {
  display: table-cell;
  float: none;
  height: 100%;
  vertical-align: bottom;
}

.u-flexbox{
  display: flex;
}

.u-flex-end{
  align-content: flex-end;
  display: flex;
  flex-wrap: wrap;
}

.u-flex-stretch{
  align-content: stretch;
  display: flex;
  flex-wrap: wrap;
}

.u-flexbox-center{
  align-items: center;
  display: flex;
  justify-content: center;
}

.u-flexbox-vertical-center{
  align-items: center;
  display: flex;
}

.u-flexbox-horizontal-center{
  display: flex;
  justify-content: center;
}

.u-centered-axis-x {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.u-flex-self-start{
  align-self: flex-start;
}

/* - - - - - - - - - - - - - - - - - - -

      VERTICAL STRETCH TO BOTTOM

- - - - - - - - - - - - - - - - - - - */

 .u-table{
  display: table;
 }

  .u-table-row{
    display: table-row;
  }

    .u-table-cell{
      display: table-cell;

      &.mod-icon-rounded{
        width: 95px;
      }

      &.mod-order-info{
        padding-right: $margin-small;
      }
    }

/* - - - - - - - - - - - - - - - - - - -

          DISPLAY INLINE-BLOCK

- - - - - - - - - - - - - - - - - - - */

.u-inline-block{
  display: inline-block;
}

.u-reset-line{
  line-height: 1.1;
}

/* - - - - - - - - - - - - - - - - - - -

            SCROLL DARK

- - - - - - - - - - - - - - - - - - - */

.u-scroll-dark{
  &::-webkit-scrollbar{
    background: $darkest;
  }

  &::-webkit-scrollbar-thumb{
    background: $dark;
    background-clip: content-box;
    border: 3px solid transparent;
    border-radius: 10px;
  }
}

/* - - - - - - - - - - - - - - - - - - -

              DISPLAYS

 - - - - - - - - - - - - - - - - - - - */

.u-display-inline{
  display: inline-block;
}

.u-display-table{
  display: table;
}

.u-display-cell{
  display: table-cell;
}

.u-justify-start{
  justify-self: start;
}

.u-justify-end{
  justify-self: end;
}

.u-justify-center{
  justify-self: center;
}

.u-align-start{
  align-self: start;
}

.u-align-center{
  align-self: center;
}

.u-align-end{
  align-self: end;
}

/* - - - - - - - - - - - - - - - - - - -

                POSITION

 - - - - - - - - - - - - - - - - - - - */

.u-relative{
  position: relative;
}
/* - - - - - - - - - - - - - - - - - - -

                IMAGES

- - - - - - - - - - - - - - - - - - - */

.u-img-responsive{
  display: block;
  height: auto;
  margin: 0 auto;
  max-width: 100%;
}

.u-img-circle{
  border-radius: 50%;
}

.u-img-thumbnail {
  display: inline-block;
  max-width: 100%;
  height: auto;
  padding: 4px;
  line-height: 1.42857143;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all .2s ease-in-out;
}

/* - - - - - - - - - - - - - - - - - - -

              EVENTS NONE

- - - - - - - - - - - - - - - - - - - */

.u-events-none{
  pointer-events: none;
}

/* - - - - - - - - - - - - - - - - - - -

              BORDERS

- - - - - - - - - - - - - - - - - - - */

.u-noborder{
  border: none;
}

.u-wrap-shadow{
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.u-wrap-shadow-light{
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
}

/* - - - - - - - - - - - - - - - - - - -

              ELLIPSIS

- - - - - - - - - - - - - - - - - - - */

.u-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-width: 0;
  max-width: 100%;
}