.login{
  @include m-box-style();
  margin: 140px auto $margin-bigger;
  padding: 70px $margin-bigger $margin-bigger;
  width: 420px;

  @media screen and (max-width: $lg) {
    margin-top: 100px;
  }
}

  .login-logo{
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: -60px;
  }


/* - - - - - - - - - - - - - - - - - - -

              LOGIN MODS

 - - - - - - - - - - - - - - - - - - - */

.login{

  &.mod-multiaccounts{
    padding: 70px $margin-bigger $margin-bigger;
    width: 620px;
  }
}