.ribbon-state{
  z-index:5;
  position: absolute;
  content: "";
  display: block;
  top: 12px;
  left: -22px;
  width: 90px;
  height: 20px;
  box-sizing: border-box;
  border-width: 0 22px 22px 22px;
  transform: rotateZ(-45deg);
  border-style: solid;
  border-color: transparent transparent $blue transparent;
}

  .ribbon-state-text{
    display: block;
    position: absolute;
    font-size: $font-smaller;
    top: 0;
    left: -47px;
    width: 140px;
    height: 28px;
    padding-top: 2px;
    color: white;
    text-align: center;
    text-shadow: 0 1px rgba(255,255,25,0.1);
    z-index: 6;
  }


/* - - - - - - - - - - - - - - - - - - -

            RIBBON STATE MODS

 - - - - - - - - - - - - - - - - - - - */

.ribbon-state{

  &.mod-draft{
    border-color: transparent transparent $grey-border-over transparent;
  }

  &.mod-disabled{
    border-color: transparent transparent $red transparent;
  }
}