/*
  Border radius
*/

$border-radius: 3px;

/*
  Containers min width
*/

$minwidth: 990px;

$stepWidth: 64px;

$footer-height: 54px;

$modal-head-height: 70px;

$modalhead-secundary: 67px;

$trial-bar-height: 44px;

$supervision-height: 57px;